
	.st0{fill:#04151F;}
	.st1{enable-background:new;}
    .st2{opacity:0.88;}
	.st3{font-family:'FiraSans-LightItalic';}
	.st4{font-size:12px;}
	.st5{fill:none;stroke:#FFFFFF;stroke-width:0.8417;stroke-miterlimit:10;}
	.st6{opacity:0.88;}
	.st7{font-family:'FiraSans-SemiBold';}
	.st8{font-size:10.3603px;}
	.st9{font-size:38px;}
	.st10{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
	.st11{fill:none;}
	.st14{letter-spacing:1;}
	.st15{letter-spacing:3;}

.gr1{
display:none;
}
.btopacity{
	opacity:0.88;
}
.btn_font{
fill:#FFFFFF;
font-family:'FiraSans-SemiBold';
font-size:10.3603px;
}
.legendtitle{
    fill:#FFFFFF;
	font-family:'FiraSans-SemiBold';
    font-size:10.3603px;}
.rectangle{
    fill:none;
    stroke:#FFFFFF;
    stroke-miterlimit:10;
    }
.waterpic{
    display:none;
}
 
.bgcol{
    fill:#04161E
}

#btn1{
  opacity:0.5;
  cursor: pointer;
}
#btn1:hover{
  opacity:1;
}

#btn2{
  opacity:0.5;
  cursor: pointer;
}
#btn2:hover{
  opacity:1;
}

.bkcolor{
  fill:#04151F;
}
.text{
  fill:#FFFFFF;
  font-family:'Fira Sans', sans-serif;
  src:url("https://fonts.googleapis.com/css?family=Fira+Sans:300");
  font-size:14px;
}
#b1_tec{
  fill:#FFFFFF;
}
#b1_text{
  fill:#04151F;
  font-family:'Fira Sans', sans-serif;
  src:url("https://fonts.googleapis.com/css?family=Fira+Sans:600");
  font-size:10.3603px;
}
#b2_text{
  fill:#FFFFFF;
  font-family:'Fira Sans', sans-serif;
  src:url("https://fonts.googleapis.com/css?family=Fira+Sans:600");
  font-size:10.3603px;
}

#b2_tec{
  fill:none;
  stroke:#FFFFFF;
  stroke-width:0.8417;
  stroke-miterlimit:10;
}
#b3_text{
  fill:#FFFFFF;
  font-family:'Fira Sans', sans-serif;
  src:url("https://fonts.googleapis.com/css?family=Fira+Sans:600");
  font-size:10.3603px;
}

#b3_tec{
  fill:none;
  stroke:#FFFFFF;
  stroke-width:0.8417;
  stroke-miterlimit:10;
}
.btn{
  cursor: pointer;
}
#pic2{
  display:none;
}
#pic3{
  display:none;
}
.link_text{
  fill:#FFFFFF;
  font-family:'FiraSans-LightItalic';
  font-size:12px;
}
.st1{
  enable-background:new;
}

.title{
  fill:#FFFFFF;
  font-family:'Fira Sans', sans-serif;
  src:url("https://fonts.googleapis.com/css?family=Fira+Sans:600");
  font-size:38px;
}
.line{
  fill:none;
  stroke:#FFFFFF;
  stroke-width:4;
  stroke-miterlimit:10;
}

/*production growth1*/
  .st0{fill:#B8D200;}
  .st5{fill:#4B6C27;}
  .st8{fill:#3D5121;}
  .st9{fill:#CDD58B;}
  .st10{fill:#85B326;}
  .st11{fill:#ABCE25;}
  .st12{fill:#839A25;}
  .st13{fill:#62873F;}
  .st14{fill:#45A636;}

.text{
  fill:#4B6C27;
  font-size:12px;
  font-family: 'Fira Sans', sans-serif;
  src:url("https://fonts.googleapis.com/css?family=Fira+Sans:300i")
}
.number{
  fill:#FFFFFF;
  font-size:13px;
  font-family: 'Fira Sans', sans-serif;
  src:url("https://fonts.googleapis.com/css?family=Fira+Sans:600i");
}
.btn_pg1{
  cursor:pointer;
}
.btn_pg1.faded{
  opacity:0.1;
  cursor:pointer;
}
